<div style="padding:20px;background-color:#E9E4E0;font-family:Arial sans-serif;color:#3E1D13;font-size:14px;">
	<div style="text-align:center;">
		<img src="http://www.westcoastprimemeats.com/img/WCPM_logo.png">
	</div>
	<h1 style="font-size:25px;font-weight:700;">RECEIPT</h1>
	<div style="height:50px;background-image:url('http://www.westcoastprimemeats.com/img/line_flourish.png');
	background-position:center center;background-repeat:no-repeat;"></div>
	<p>
		Thank you, {{payer.firstName}}, for your purchase!
	</p>
	<p>
		Please save this email for future reference.
	</p>
	<p>receipt ID <strong>{{paymentRefId}}</strong></p>
	<table style="border:0;">
		{{#each cartItems}}
			<tr>
				<td style="width:50%;padding:5px 0">{{product.name}} @${{price}} each</td>
				<td style="text-align:right;padding:5px 0">x{{quantity}} ${{subtotal}}</td>
			</tr>
			<tr><td colspan="2"><div style="border-bottom:1px solid #efefef;margin-bottom:5px;"></div></td></tr>
		{{/each}}
		<tr><td colspan="2" style="text-align:right;padding:5px 0"><strong>subtotal ${{shippingAmount}}</strong></td></tr>
		{{#if salesTax}}
			<tr><td colspan="2" style="text-align:right;padding:5px 0"><strong>sales tax ${{salesTax}}</strong></td></tr>
		{{/if}}
		{{#if shippingLabel}}
			<tr><td colspan="2" style="text-align:right;padding:5px 0"><strong>{{shippingLabel}} ${{shippingAmount}}</strong></td></tr>
		{{/if}}
		<tr><td colspan="2" style="text-align:right;font-size:20px;padding:5px 0"><strong>total ${{total}}</strong></td></tr>
	</table>
	<p>Please contact <a href="http://www.westcoastprimemeats.com/resources/contact">Customer Service</a> if you have any questions.</p>
	<div style="height: 100px;"></div>
</div>
